<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <title>Document</title>
  </head>
  <body>
    <nav class="nav">
      <ul class="navBar">
        <li class="Home"><a href="/home">Home</a></li>
        <li class="addBook">
          <a class="addBookA" href="/addBook">add Books</a>
        </li>

        <li class="logout"><a href="/logout"> logout</a></li>
      </ul>
    </nav>
    <hr />
    <div class="bookDis">
      <div>
        <%
        if (book.length != 0){
        %>
        <%
          for(var i=0; i<book.length; i++){    
        %>
           <div id="books">
             <div class="books-info">
                <p class="isbn info">
                   BOOK ISBN : <%= book[i]["ISBN"] %>
                </p>
                <p class="book-name info">
                  BOOK NAME : <%= book[i]["bookName"] %>
                </p>
                <p class="author info">
                  BOOK AUTHOR : <%= book[i]["Author"] %>
                 </p>
                <p class="publicher info">
                  BOOK PUBLISHER : <%= book[i]["Publisher"] %>
                </p>
                <p class="des info">
                 BOOK DESCRIPTION : <%= book[i]["Description"] %>
                </p>
                
              </div>
            </div>
          <% } %> 
          <% } %>
           



     </div>
   </div>
  </body>
</html>
